<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="pets_application_cuba" transaction-type="RESOURCE_LOCAL">

        <class>com.company.pets.entity.Users</class>
        <class>com.company.pets.entity.TableListPets</class>
        <class>com.company.pets.entity.TableShelter</class>
    </persistence-unit>
</persistence>
